body{
background-image: url(background.jpg);
background-size: cover;
background-repeat: no-repeat;
}

ul{
display:inline-block;
text-decoration: none;
vertical-align: top;
}

li{
display:inline-block;
text-decoration: none;
list-style-type: none;
text-indent: 50px;
}

a{
text-decoration: none;
list-style-type: none;	
}

a:visited{
color:white;	
}
 
a:link{
color:white;
}

a:hover{
}

ul li ul li{
	font-size:1.1vw;
	text-indent: -75px;
opacity: 0;
}

ul li:hover ul li{
	text-decoration: underline red;
opacity: 1;


}


#devel{
font-size:2vw;
top:0%;
}

#set2{
/*border:blue solid 1px;*/
bottom:0%;
}

#develtext{
	font-size: 1.3vw;
}

#develtext:hover{
text-decoration:underline lightblue;

}

#exttext{
	font-size: 1.3vw;
}

#exttext:hover{
	font-size: 1.3vw;
	text-decoration: underline red;
}

#usetext{
	font-size: 1.3vw;


}

#usetext:hover{
	font-size: 1.3vw;
	text-decoration: underline lightgreen;

}

#hiddentext{
font-size: 1.3vw;
opacity:0;
}

#hiddentext:hover{
		font-size: 1.3vw;
		opacity: 1;
	text-decoration: underline white;
}

.search{
	position: relative;
border:0px red solid;
margin-left: 79%;
top: -135px;
display: inline-block;
}